In [9]:
import requests
import pandas as pd
from io import StringIO

# URL of the API
url = "https://api.vitaldb.net/cases"

# Make a GET request to the API
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    try:
        # Read the response content as CSV
        data = StringIO(response.text)
        
        # Define the column names based on the provided format
        columns = [
            "caseid", "subjectid", "casestart", "caseend", "anestart", "aneend", "opstart", "opend", "adm", "dis", "icu_days", 
            "death_inhosp", "age", "sex", "height", "weight", "bmi", "asa", "emop", "department", "optype", "dx", "opname", 
            "approach", "position", "ane_type", "preop_htn", "preop_dm", "preop_ecg", "preop_pft", "preop_hb", "preop_plt", 
            "preop_pt", "preop_aptt", "preop_na", "preop_k", "preop_gluc", "preop_alb", "preop_ast", "preop_alt", "preop_bun", 
            "preop_cr", "preop_ph", "preop_hco3", "preop_be", "preop_pao2", "preop_paco2", "preop_sao2", "cormack", "airway", 
            "tubesize", "dltubesize", "lmasize", "iv1", "iv2", "aline1", "aline2", "cline1", "cline2", "intraop_ebl", 
            "intraop_uo", "intraop_rbc", "intraop_ffp", "intraop_crystalloid", "intraop_colloid", "intraop_ppf", "intraop_mdz", 
            "intraop_ftn", "intraop_rocu", "intraop_vecu", "intraop_eph", "intraop_phe", "intraop_epi", "intraop_ca"
        ]
        
        # Load the data into a pandas DataFrame with the specified columns
        df = pd.read_csv(data, names=columns)
        df = df.drop(df.index[0])
        
        # Display the first few rows of the DataFrame
    except Exception as e:
        print(f"Error: {e}")
else:
    print(f"Failed to retrieve data: {response.status_code}")

df

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
1,1,5955,0,11542,-552,10848,1668,10368,-236220,627780,...,0,120,0,100,70,0,10,0,0,0
2,2,2487,0,15741,-1039,14921,1721,14621,-221160,1506840,...,0,150,0,0,100,0,20,0,0,0
3,3,2861,0,4394,-590,4210,1090,3010,-218640,40560,...,0,0,0,0,50,0,0,0,0,0
4,4,1903,0,20990,-778,20222,2522,17822,-201120,576480,...,0,80,0,100,100,0,50,0,0,0
5,5,4416,0,21531,-1009,22391,2591,20291,-67560,3734040,...,0,0,0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6384,6384,5583,0,15248,-260,15640,2140,14140,-215340,648660,...,0,150,0,0,90,0,20,0,0,0
6385,6385,2278,0,20643,-544,20996,2396,19496,-225600,1675200,...,0,100,0,0,100,0,25,30,0,300
6386,6386,4045,0,19451,-667,19133,3533,18233,-200460,836340,...,0,70,0,0,130,0,10,0,0,0
6387,6387,5230,0,12025,-550,12830,1730,11030,-227760,377040,...,0,120,0,0,50,0,0,0,0,0
6388,6388,1306,0,10249,-79,10121,2321,9221,-312060,379140,...,500,120,0,0,90,0,20,0,0,0